# Deployment configuration for Mansa contract

# Private key for deployment depending on your configuration you may need to add the 0x prefix
PRIVATE_KEY=

# Blockchain RPC URL == we are current deploying to arbitrum. I'm using Infura
RPC_URL=

# Deployment options
DEPLOY_MOCK_TOKEN=true # Set to 'false' to use existing USD token

# If DEPLOY_MOCK_TOKEN is false, specify the USD token address
USD_TOKEN_ADDRESS=

# Gas configuration (optional)
GAS_PRICE=
GAS_LIMIT=

# Contract initialization parameters (optional - you can change these or use defaults)
TOKEN_NAME="Mansa Token"
TOKEN_SYMBOL="MANSA"
INITIAL_DAILY_YIELD=1000 # 0.01% daily in microbips

ETHERSCAN_API_KEY="" # for verification
OPEN_FOR_INVESTMENT=true # or true to open immediately